<h1 class="header">{{title}}</h1>

<p>Welcome to Movie Finder! Enter some keywords to search for a movie.</p>

<form method="POST" action="/searchmovies">
    <label for="searchMoviesByName">
        Search:
    </label>
    <input id="searchMoviesByName" class="searchBar" type="text" name="searchMoviesByName">
    <input type="submit" class="searchButton">
</form>
