<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>

<body>
    <main>
        {{{body}}} <!-- all other content will be rendered below the title, inside the main element! -->
    </main>
</body>

</html>